body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}
header {
	display: flex;
	justify-content: center;
}
.container {
	width:990px;
	height:auto;
	display: flex;
	justify-content: space-between;
}
.banner {
	display: flex;
	margin:40px;
	padding-left: 45px;
}
.login {
	flex-wrap: wrap;
	width:350px;
	height:400px;
	background-color: #FFFFFF;
	margin: 70px;
	border:1px solid #ccc;
}
h1 {
	display: flex;
	justify-content: center;
	font-family: 'Cookie';
	font-size: 65px;
	color: #262626;
}
#campo {
	margin-left: 50px;
}
#campo2 {
	margin-left: 50px;
	padding-top: 5px;
}
#campo3 {
	margin-left: 136px;
	padding-top: 5px;
	cursor: pointer;
}
.border {
	border:1px solid #dbdbdb;
	width:280px;
	height: -1px;
	margin:25px;
	background-color: #dcdcdc;
}
.linkface {
	margin-left: 65px;
}
.esqueceu {
	margin-left: 114px;
	font-size:12px;
	margin-top: 15px;
}
.esqueceu a {
	text-decoration: none;
	color: #277bc7;
}

.desafio {
	width: 350px;
	height: 60px;
	background-color: #FFFFFF;
	margin-top: 55px;
	border:1px solid #CCCCCC;
}
.cadastre {
	font-size: 13px;
	margin-top:20px;
	margin-left: 60px;
}
.cadastre a {
	font-weight: bold;
	color: #0095f6;
	text-decoration: none;
}
.obtenha {
	font-size: 15px;
	margin-top:20px;
	margin-left: 97px;
}
.app {
	margin-left: 43px;
	margin-top: 12px;
}


footer {
	display: flex;
	justify-content: center;
	height:100px;
}

.container2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width:990px;
}

.description {
	font-size: 12px;
	color: #1f376b;
	font-weight: bold;
}

.description ul li {
	list-style: none;
}
ul {
	display: flex;
}

li {
	margin: 25px;
}
.span {
	color: #8e8e8e;
	margin-left: 60px;
	margin-bottom: 20px;
}